html {
  font-size: 18px;
}

#container {
  width: 400px;
  margin: 50px auto 0;
}

#text-input {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  box-sizing: border-box;
  font-size: 1rem;
  padding-left: 10px;
}

#todo-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.list-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.delete-button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: #ff3333;
}

.delete-button:hover {
  color: #ff6666;
}

.checked span {
  text-decoration: line-through;
}

.checked button {
  color: blue;
}

.checked button:hover {
  color: #6666ff;
}
